* {
  font-family: consolas;
  font-size: 15px;
}

#myError {
  color: red;
}

[id^="outVar"] {
  font-weight: bold;
  border-radius: 5px;
  background: aliceblue;
  border-style: groove;
}

#inVar {
  width: 100%;
}

.emph {
  color: #d80000;
  background: #ffd4d4;
}

.emphG {
  font-weight: bold;
  color: #0f5402;
  background: #95ff81;
  border-radius: 3px;
}

.emphW {
  color: aliceblue;
}

.ruleTitle {
  background: #4c647d;
  color: #ebe9ff;
}

.rule {
  color: #cbffee;
}

.minimum {
  background: #feffa9;
}

.button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 6px;
}

.lambda {
  font-weight: bold;
  background: #fdf6a0;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
}