* {
font-family: consolas;
font-size: 15px;
}
#myError {
color:red;
}

[id^="outVar"] {
    font-weight: bold;
    border-radius: 5px;
    background: aliceblue;
	border-style: groove;
}

#inVar {
  width:100%;
}


